body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    background: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    margin-top: 30px;
}

figure {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 30px;;
}
figure img {
    width: 100%;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}
.centro-destribuicao {
    width: 550px;
    margin: 0 auto;
}

.familia-pelho {
    width: 240px;
    float: right;
    margin-top: 0;
}

p {
    text-align: justify;
    text-indent: 15px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}